* {
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}
h1 {
    margin-bottom: 10px;
}
fieldset {
    border: none;
}
label, .title-search {
    font-size: 20px;
    margin-top: 5px;
}
button {
    height: 30px;
    width: 60px;
}
button:focus, button:hover {
    background: greenyellow;
}
input:focus, input:hover {
    background: yellow;
    font-weight: bolder;
}
footer {
    text-align: center;
}
ul li, ul {
    display: inline-block;
    margin-right: 20px;
}
.error {
    text-align: center;
    font-weight: bold;
    padding-bottom: 30px;
    padding-top: 30px;
}
a:hover,a:focus {
    font-weight: bolder;
    color: darkmagenta;
}
.header {
    text-align: center;
    color: white;
    text-decoration-color: black;
    text-shadow: 0 1px 0 black;
}
.js-search {
    margin-top: 45px;
}
.banner {
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ), url("banner.jpg") no-repeat;
    background-size: cover;
}
#map {
    height: 200px;
}
.explanation {
    margin-bottom: 15px;
    font-weight: bolder;
}
.food-type {
    margin-top: 10px;
}
.restaurant {
    background-color: lightgray;
    border: black 1px  solid;
}

.js-search-button, .js-search-parameter {
    border: black 1px solid;
    font-weight: bold;
    padding: 3px;
    margin-top: 5px;
}

.restaurant:focus-within, .restaurant:hover {
    background: white;
}
